.main-button {
    background-color: rgba($redColor, 0.8);
    color: #FFF;
    min-width: 120px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    @include prefixer(transition, all 0.5s ease-in-out, webkit moz);
    &:hover {
        background-color: $redColor;
    }
}

.toggler-button {
    background-color: $redColor;
    border: none;
    padding: 8px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 18px;
    display: none;
    @media #{$maxMobile} {
        display: block;
    }
    span {
        display: block;
        width: 50px;
        height: 5px;
        background-color: #FFF;
        &:not(:last-of-type) {
            margin-bottom: 5px;
        }
    }
}