.head-with-border {
    position: relative;
    h2 {
        background-color: $redColor;
        color: #FFF;
        padding: 10px 15px;
        margin: 40px auto;
        width: 350px;
        border-radius: 15px;
        text-align: center;
        text-transform: uppercase;
        &:before {
            content: '';
            width: 100%;
            height: 1.5px;
            position: absolute;
            left: 0;
            top: 50%;
            background-color: $greyColor;
            z-index: -1;
        }
    }
}